@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    font-family: poppins;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
    
:root{
    --white: #fff;
    --purple_first:#814396;
    --purple_second:#B57AC5;
    --pink_white:#F5C5E1;
    --pink:#E462AB;
    --dark_blue:#252551;
    --yellow:#FFE68E;
    --button-font:rgb(44, 44, 44) ;
}
.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 70px;
    margin-bottom: 50px;
}

.navbar .links{
    width: 50%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar .links .link{
    text-decoration: none;
    color: var(--dark_blue);
    font-size: 1.2em;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.navbar .links .link:hover{
    transform: scale(1.1);
}
.hero{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.hero .main{
    display: flex;
    width: 90%;
    justify-content: space-between;

}
.hero .hero-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    width: 50%;
    font-size: 1.3em;
    
}
.hero .main .hero-left .sentence{
    color: rgb(71, 71, 71);
    font-size: 0.85em;

}
.hero .hero-left .order{
    background-color: var(--yellow);
    color: var(--button-font) ;
    font-weight: bold;
    font-size: 0.85em;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    margin-left: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s ease-in;
    cursor: pointer;

}
.hero .hero-left .order .order-link{
    text-decoration: none;
    color:var(--button-font);

}
.hero .hero-left .order:hover{
    box-shadow: none;
}
.hero .hero-left .intro{
    font-size: 0.85em;  
    margin-top: 150px;  
}
.hero .hero-right{
    display: flex;
    width: 40%;
    height: 70%;
    gap: 10px;
}

.hero .hero-right  .deco{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

/* offers section +styling */

.offers-section{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    overflow: hidden;
    padding:30px 0 30px 0;
    background: linear-gradient(217deg, var(--yellow) 0.88%, var(--pink_white) 29.64%, var(--pink) 73.99%, var(--yellow)  100%);;
}
.offers-section h2{
    font-size: 1.9em;
    font-weight: 600;
    color: var(--dark_blue);
    
}
.offers-section .cards{
    display:flex;
    max-width: 70vw;
    height: 80%;
    justify-content: space-between;
    gap: 8%;
    transition: all 0.5s ease-out;   
}

.offers-section .cards .card{
    height: 360px;
    min-width: 28%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 10px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1px;
}

.offers-section .cards .card img{
    height: 75%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.offers-section .cards .card .card-desciption{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 80%;
}

.offers-section .cards .card .card-desciption h3{
    font-size: 0.9em;
    
}

.offers-section .cards .card .card-desciption h4{
    font-size:0.8em;
    color: gray;
    font-weight: 400;
}

.offers-section .cards .card .card-desciption .title-and-des{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.offers-section .cards .card .card-desciption .price{
    background-color: var(--yellow);
    width: 20%;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
}

.offers-section .circles{
    width: auto;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}  

.offers-section .circles .circle{
    background-color: var(--pink_white);
    border-radius: 50%;
    border:none;
    cursor: pointer;
    width: 10px;
    height:10px;
}

.offers-section .circles .circle.clicked{
    background-color:var(--white)
}


/* services section styling */
.services-section{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.services-section h2{
    color: var(--dark_blue);
}

.services-section .services{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.services-section .services .service{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 20%;
    height: 60%;
    align-items: center;

}

.services-section .services .service img{
    max-width: 90%;
    max-height: 80%;

}

.services-section .services .service h2{
    font-size: 1.2em;
}

.services-section .services .service h4{
    font-size: 0.8em;
    color: gray;
    font-weight: 300;
}

.footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 92%;
    height: 10vh;
    margin-top: 100px;
    border-top: var(--dark_blue) 1px solid;

}

.footer .links{
    width: 40%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.footer .links .link{
    text-decoration: none;
    color: var(--dark_blue);
    font-size: 1em;

}

.footer .contact-btn{
    width: 100px ;
    height: 60%;
    background-color: var(--yellow);
    
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.2s ease-in;
}
.footer .contact-btn:hover{
    box-shadow: none;

}
.footer .contact-btn .link{
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    color: var(--button-font);
}
.form{
    min-width:40vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 1.1em;
}
.form .input{
    display: flex;
    flex-direction: column;
    border-bottom: var(--dark_blue) 2px solid;
    width:100%

}
.form .input .infolabel{
    font-weight: 550;
}
.form .input .info{
    height: 30px;
    
}
.form .input .info:focus{
    outline:none;

}
.form .order{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    
}

.form .order input{
    border: var(--dark_blue) 1px solid;
    min-height: 80px;
    line-height: 80px;

}
.form .input .info{
    border: none;
}
.form .submit-btn{
    width: 40%;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--button-font) ;
    font-weight: bold;
    font-size: 0.85em;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    margin-left: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s ease-in;
}
.form .submit-btn:hover{
    box-shadow: none;
}

.About-us {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:50px;
    width: 90%;
    margin-bottom: 50px;
}
.About-us .about-section p{
    width:70%;
    font-size: 1.2em;
    margin-top: 15px;
}
.About-us .get-in-touch-section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:10px;
    width:90%;
    height:500px;
}
.About-us .get-in-touch-section .get-in-touch{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap:10px;
    width: 400px;
    min-height: 160px;
    max-height: 200px;
}
.About-us .get-in-touch-section .get-in-touch input{
    width:100%;
    height:40px;
    padding: 10px;
}
.About-us .get-in-touch-section .get-in-touch .submit-btn{
    width: 40%;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--button-font) ;
    font-weight: bold;
    font-size: 0.85em;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    margin-left: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s ease-in;

}
.About-us .get-in-touch-section .get-in-touch .submit-btn:hover{
    box-shadow: none;
}
.About-us .get-in-touch-section .owner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.About-us .get-in-touch-section img {
    width:300px;
    height:300px;
    border-radius: 50%;
}






